<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductTrackingProgram.Properties.Settings.ProductStockConnectionString"
            connectionString="Data Source=DESKTOP-7DEH5NV\MSSQLSERVER02;Initial Catalog=ProductStock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>